.rest {
    position: relative;
}

.heart--icon {
    position: absolute;
    right: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

.fade-in-load {
    z-index: 0;
    animation: fadeIn 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.fillup-trigger:active .heart--gradient {
    animation: fadeIn 1s linear forwards 1, fillUp 1s linear forwards;
}

.rest-caption:active .heart--gradient {
    animation: fadeIn 1s linear forwards 1, fillUp 1s linear forwards;

}

.heart--gradient {
    opacity: 0;
    transform-origin: bottom center;
    background-image: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
}

.logo-font {
    font-family: 'Shrikhand', sans-serif;
}

@keyframes fillUp {
    from {
        transform: scale(0);

    }

    to {
        transforM: scale(1);
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}