@import "./css/common.css";

.logo {
    width: 180px;
    display: flex;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: white;

}

.fa-arrow-left {
    font-size: 15pt;
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}

.bastille-img {
    width: 380px;
}

.price {
    font-weight: bolder;
    font-size: 12pt;
    color: black;
    position: absolute;
    right: 70px;
    transform: translateX(60px);

}

.food {
    position: relative;
    overflow: hidden;
}

.food:active .green-tick-container {

    animation: slideLeft 1s ease forwards;
}

.food:active .green-tick {
    animation: rotateClockwise 1s ease forwards;

}

.food:active .price {
    animation: slideLeft 1s ease forwards;
}

.green-tick {
    color: white;
    font-size: 20pt;
}

.green-tick-container {
    background-color: #99E2D0;
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    right: 0;
    transform: translateX(60px);
}

@keyframes slideLeft {
    from {
        transform: translateX(60px);

    }

    to {
        transform: translateX(0);

    }
}

@keyframes rotateClockwise {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(1turn)
    }
}

.menu-1 {
    background-color: rgb(240, 240, 240);
    height: 1300px;
    margin-top: 200px;
    border-radius: 35px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.bastille-img {
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -1;

}

.section-heading {
    font-size: 13pt;
    margin-left: 20px;
    margin-top: 40px;
    color: grey;
    font-weight: lighter;
    padding-bottom: 5px;
    position: relative;
    display: inline-block;
}

.section-heading:before {
    position: absolute;
    height: 3px;
    width: 50%;
    left: 0;
    bottom: -5px;
    background: aquamarine;
    display: block;
    content: "";
}

.food {
    background-color: white;
    width: 350px;
    height: 75px;
    text-align: left;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    border-radius: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 20px;
}

h2 {
    font-size: 13pt;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
}

p {
    font-size: 10pt;
    margin: 0;
    margin-top: 5px;
    margin-left: 10px;
    color: grey;
}

b {
    margin-left: 190px;
    font-size: 12pt;
    color: black;
}


header {
    font-size: 30px;
    margin-left: 20px;
    padding-top: 35px;

}

.button {
    font-size: 12px;
    margin-top: 40px;
    text-align: center;
    background-image: linear-gradient(#FF79DA, #9356DC);
    border-radius: 30px;
    padding: 1px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:active {
    box-shadow: 0 5px 10px rgb(0, 0, 0);
    background-image: linear-gradient(#ffb5ea, #a760ff);

}

footer {

    background-color: rgb(53, 53, 53);
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
}

footer .logo-font {
    color: white;
    font-size: 15pt;
}

.logo-footer {
    width: 120px;
}

#entrees {
    opacity: 0;
    animation: fadeIn 4s forwards;
}

#main-dish {
    opacity: 0;
    animation: fadeIn 4s forwards;
    animation-delay: 0.75s;
}

#desserts {
    opacity: 0;
    animation: fadeIn 4s forwards;
    animation-delay: 1.25s;
}

.p-footer {
    color: white;
}

.fa-handshake-angle {
    color: white;
}

.fa-utensils {
    color: white;
}

.rest__heart {
    margin-left: 180px;
}

@media only screen and (max-width: 800px) {
    .h2 section-heading {
        text-align: center;
    }
}